.countainer{
	
	width: 700px;
	margin-left: auto;
	margin-right: auto;


}

p{

	padding: 20px
	padding-top: 0px;
	padding-bottom: 5px:;
	text-align: justify;
}

h1{
	
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 
	text-align:center;
	color: yellow;
}